.contact-form {
    margin-top: 27px;
    margin-bottom: 50px;
    color: #000;
}

.contact {
    font-size: 17px;
}

.contact-email {
    text-decoration: none;
    color: #0072BB;
}

.contact-email:hover {
    color: #009bff;
	text-decoration: none;
}

.contact-phone {
    text-decoration: none;
    color: #0072BB;	
}

.contact-phone:hover {
	color: #009bff;
	text-decoration: none;
}

.working-time {
    margin-top: 50px;
    font-size: 17px;
}

.social-networks {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 17px;
}

.social-network-icons {
    padding: 0px 20px;
    font-size: 40px;
}

.social-network-link {
	font-size: 22px;
    text-decoration: none;
    color: #0072BB;
    padding: 0 20px;
}

.social-network-link:hover {
    color: #009bff;
	text-decoration: none;
}

.contact-h1 {
    /*color: #0072BB;*/
    color: #383838;
	padding: 20px;
}

.contact-h2 {
    /*color: #0072BB;*/
    color: #383838;
	font-size: 24px;
}

@media (max-width: 460px) {
    .street-map {
        width: 300px;
        height: 250px;
    }
  }