a, a:focus, a:hover {
  color: #0072BB;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  color: #fff;
  text-shadow: none;
  background-color: #0072BB;
  border: .05rem solid #0087dd;
}

.btn-primary:hover {
  color: #fff;
  text-shadow: none;
  background-color: #0091ee;
  border: .05rem solid #0087dd;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff !important;
  text-shadow: none !important;
  background-color: #0091ee !important;
  border: .05rem solid #0087dd !important;
}

html, body {
  height: 100%;
  /*background-color: #f1f1f1;*/
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.index-body {
	background: none !important;
	color: #fff !important;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	z-index: -1;
}

.cover-container {
	max-width: 50em;
}

.cover-heading-home {
	color: #ffffff;
}

.subtitle-home {
	color: #ffffff;
}

.cover-heading {
	margin-top: -10px;
	color: #0072BB;
}

.subtitle {
	color: #0087dd;
}
 
.masthead {
	margin-top: 10px;
	margin-bottom: 2rem;
}

.masthead-brand {
  margin-top: -5px;
  margin-bottom: 0;
  font-size: 25px;
}

.nav-masthead .nav-link-home {
	color: #ffffff !important;
}

.nav-masthead .nav-link-home:hover,
.nav-masthead .nav-link-home:focus {
  border-bottom-color: #ffffff !important;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 600;
  color: #0072BB;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #0072BB;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 2rem;
}

.nav-masthead .active {
  color: #009bff;
  /*border-bottom-color: #fff;*/
}

                 /*767px = 48em*/
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
 
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.explanation {
	text-align: justify;
	color: #0072BB;
	font-size: 18px;
	font-weight: 400;
}

.mastfoot {
  color: rgba(0, 0, 0, .6);
  font-size: 13px !important;
}

.footer-home {
  color: #c1c1c1 !important;
}