.card-deck {
	color: #000 !important;
	padding: 0.5rem 0.2rem;
}

.card-title {
	color: #0072BB;
	/*color: #383838;*/
	font-weight: 400;
	font-size: 25px;
}

.card-body {
	/*background-color: #f1f1f1;*/
	background-color: #f1f1f100;
}

.card-text {
	/*color: #0087dd;*/
	color: #383838;
	text-align: justify !important;
}

.card {
	border: none; 
	background-color: #f1f1f100;
	font-weight: 300;
}

.card-footer {
	border: none;
	background-color: #f1f1f100;
}

.card-image {
	position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	padding: 20px 30px;
	text-align: justify;
  }

.card-image:hover .image-overlay {
    opacity: 1;
  }

main {
	margin-top: 80px;
	margin-bottom: 50px;
}

.btn-outline-primary {
	font-weight: 300 !important;
}